.main-container {
  display: flex;
  height: 100vh;
}

.channel-container h2 {
  padding: 5px 10px;
  font-size: 20px;
}

.sidebar {
  width: 100%;
  max-width: 300px;
  border-right: 1px solid var(--text-dimmed);
  padding: 8px;
}

.sidebar-header {
  padding: 0px 12px;
  font-size: 24px;
  margin-bottom: 12px;
}

.sidebar-row {
  padding: 5px 12px;
  border-radius: 5px;
  color: var(--text-dimmed);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.sidebar-row svg {
  height: 16px;
  width: 16px;
}

.sidebar-row:hover {
  background-color: var(--bg-dimmed);
}

.sidebar-row-active {
  background-color: var(--bg-selected);
  color: white;
}

.sidebar-row-active:hover {
  background-color: var(--bg-selected);
}

.chat-section {
  width: 100%;
  padding: 20px;
}

.channel-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.channel-messages-container {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.send-message-box {
  height: 90px;
  padding: 20px;
  display: flex;
  margin: 10px 10px;
  background-color: hsl(213deg 11% 15%);
  border: 1px solid hsl(126deg 1% 34%);
  border-radius: 10px;
}

.send-message-box textarea {
  border: none;
  background: transparent;
  color: var(--text);
  width: 100%;
  resize: none;
}

.send-message-box textarea:focus {
  outline: none;
}

.send-message-box button {
  border: none;
  background: transparent;
  border-left: 1px solid hsl(126deg 1% 34%);
  color: var(--text);
}

.send-message-box button svg {
  width: 40px;
}
